/__pycache__/
/.idea/
/.vscode/
/geckodriver.log/
/NLP_init/test/

#the folders contain shapes for image model training 
/image_processing/circles/
/image_processing/squares/
/image_processing/triangles/
images_train.csv*


# Added by cargo

/target
